body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../images/main-page.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 625px;
}

/*Navigation area*/

header .nav-area {
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  color: #21bae0;
  font-size: 35px;
  font-family: "Norican", cursive;
  background-color: #ffff;
  border-radius: 10%;
  padding: 10px 20px;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.nav_links li a:hover {
  color: #ffffff;
  background-color: #21bae0;
  border-radius: 50px;
  padding: 5px;
}

.cntc {
  padding: 9px 25px;
  background-color: #21bae0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
}

.cntc:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*Main page header*/

header .main {
  text-align: center;
  color: #ffffff;
  padding: 30px 0 15px 0;
}

header .main .p1 {
  font-size: 40px;
  font-family: "Epilogue", sans-serif;
  padding-top: 80px;
  padding-bottom: 40px;
}

header .main .p2 {
  font-family: "Norican";
  font-size: 70px;
}

/*Main page button*/

.main .tell {
  padding: 20px;
}
.main .tell button {
  border-radius: 10px;
  border: none;
  background-color: #ffff;
  text-decoration: none;
  padding: 20px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  color: #21bae0;
}

.main-button {
  padding-top: 20px;
  font-size: 20px;
}

/*Header for each page*/

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  padding-top: 60px;
  text-align: center;
}

.header .p1 {
  font-size: 35px;
  font-weight: 600;
}

.header .p2 {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
  opacity: 0.8;
  padding-top: 20px;
}

/*Services page*/

.srv {
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 50px;
}

.container .icon {
  width: 125px;
  height: 125px;
  font-size: 50px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #f5dd08;
  line-height: 125px;
  margin: 0 auto;
}

.container .parag-1 {
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 10px;
}

.container .parag-2 {
  font-size: 16px;
  font-family: "Epilogue", sans-serif;
  opacity: 0.8;
  padding: 0 10px;
  line-height: 1.5;
}

/*portfolio page*/

.pfolio {
  background-color: rgba(128, 128, 128, 0.151);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*portfolio page slick slider */

.slider .slider-area {
  width: 100%;
}

.slider img {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding-top: 30px;
}

.slider p {
  font-size: 20px;
  font-family: "Epilogue", sans-serif;
  padding-top: 10px;
}

/*Timeline page*/

.ab {
  padding-bottom: 20px;
}

.timeline {
  padding-top: 30px;
}

.timeline-image {
  text-align: center;
  position: relative;
  padding-bottom: 100px;
}

.t-image {
  border: 8px solid #21bae0;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.timeline-left {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40%;
  text-align: right;
  line-height: 1.5;
}

.timeline-right {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40%;
  text-align: left;
  line-height: 1.5;
}

.tp-1 {
  font-size: 25px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tp-2 {
  font-size: 20px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tp-3 {
  font-size: 15px;
  font-family: "Epilogue", sans-serif;
  opacity: 0.8;
  padding-top: 10px;
}

/*Team page*/

.ourteam {
  background-color: rgba(128, 128, 128, 0.151);
  height: 600px;
}

.team-content {
  display: flex;
  justify-content: space-around;
  padding-bottom: 80px;
  padding-top: 20px;
}

.ourteam img {
  border-radius: 50%;
  border: 8px solid #21bae0;
  width: 200px;
  height: 200px;
}

.person {
  text-align: center;
  line-height: 1.5;
}

.person .p-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 650;
  color: #21bae0;
}

.person .p-title {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
  opacity: 0.8;
}

.person-social i {
  border-radius: 50%;
  border: 1px solid black;
  background-color: black;
  color: #ffff;
  opacity: 0.7;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.person-social i:hover {
  opacity: 1;
  cursor: pointer;
}

/*Contact page*/

.c-area {
  background-attachment: fixed;
  background-image: url(../images/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.contact-form {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 350px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact-button {
  border: none;
  font-size: 15px;
  padding: 10px 20px;
  color: #ffff;
  background-color: #21bae0;
  border-radius: 5px;
  font-weight: 800;
}
.textarea {
  font: Verdana, Geneva, Tahoma, sans-serif;
}
